.app {
  display: flex;
  min-height: 100vh;
}

.main {
  margin-left: var(--sidebar-width);
  padding-top: var(--topicbar-height);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}
